{% extends "layouts/base.html" %}

{% block title %} search {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Page specific css and JS -->
<style>
  .mt-100 {
    margin-top: 20px
}

.form-control::placeholder {
  color: black !important;
  font-size: 25 !important;
  font-weight: bold !important;
  text-align: center !important;

}
</style>
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/choices.min.css' %}">
<script src="{% static 'assets/js/choices.min.js' %}"></script>

<!-- Page specific css and JS -->

<div class="d-flex justify-content-center">
<div class="col-md-12">
<div class="card">
<form role="form" method="post" action="">
{% csrf_token %}
<div class="card-body">

<div class="d-flex flex-grow-1 bd-highlight">
<div class="p-2 flex-fill bd-highlight">
<div class="">
  <label for="sentance"></label>
  <input type="text" id='search' class="form-control" style="height:43px" placeholder="{{sentance}}"  name="search" readonly>
  <input type="hidden"  name="sentanceid" value="{{id}}">
  <input type="hidden"  name="sentance" value="{{sentance}}">
</div>
</div>
<br>
</div>
<div class="d-flex flex-wrap">
  {% for word in words %}
    <input type="text" id='search' class="form-control" style="height:43px; width:20%;" placeholder="{{word}}" name="search"
      readonly>
    <input type="hidden" name="word" value="{{word}}">

    <select name="{{word}}" id="{{word}}" onchange="" class="form-select" aria-label="Default select example">
      <option value="Object">Object</option>
      <option value="I-Object">I-Object</option>
      <option value="Attribute">Attribute</option>
      <option value="I-Attribute">I-Attribute</option>
      <option value="Operator">Operator</option>
      <option value="I-Operator">I-Operator</option>
      <option value="Function">Function</option>
      <option value="I-Function">I-Function</option>
      <option value="Value">Value</option>
      <option value="I-Value">I-Value</option>
      <option value="Unit">Unit</option>
      <option value="I-Unit">I-Unit</option>
      <option value="O">O</option>
    </select>
  {% endfor %}
</div>  

<br>
<div class="d-flex flex-row-reverse">
      <input type="submit" value="Submit" class="btn btn-info" name="Submit">
      </input>
  </div>
</div>
</form>
<br>
<br>
</div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      $('#search').keypress(function (e) {
        if (e.which == 13) {
          $('form').submit();
          return false;    
        }
      });

    });



  </script>

{% endblock javascripts %}