{% extends "layouts/base.html" %}

{% block title %} search {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Page specific css and JS -->
<style>
  .mt-100 {
    margin-top: 20px
}

.form-control::placeholder {
  color: black !important;
  font-size: 25 !important;
  font-weight: bold !important;
  text-align: center !important;

}
</style>
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/choices.min.css' %}">
<script src="{% static 'assets/js/choices.min.js' %}"></script>
<script>
function validateForm() {
    var start = $('#start').val();
    var end = $('#end').val();
    var type = $('#type').val();
    console.log(start)
    if (start == "" && end == '' && type == 'Chromosome') {
        // alert("Start and end must be filled out");
        demo.showNotification('top','right', 'Start and end must be filled out' , 3)
        return false;
    }
}
</script>
<!-- Page specific css and JS -->

<div class="d-flex justify-content-center">
<div class="col-md-12">
<div class="card">
<form role="form" method="post" action="" onsubmit="return validateForm()" >
{% csrf_token %}
<div class="card-body">

<div class="d-flex flex-grow-1 bd-highlight">
<div class="p-2 flex-fill bd-highlight">
<div class="">
  <label for="sentance"></label>
  <input type="text" id='search' class="form-control" style="height:43px" placeholder="{{sentance}}"  name="search" readonly>
</div>
</div>
<br>
</div>

<div class="d-flex flex-row justify-content-center">
      <div class="form-check form-check-inline">
        {{form.NUMS}}
      </div>
</div>
<br>
<div class="d-flex flex-row-reverse">
      <input type="submit" value="Submit" class="btn btn-info" name="Submit">
      </input>
  </div>
</div>
</form>
<br>
<br>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      $('#search').keypress(function (e) {
        if (e.which == 13) {
          $('form').submit();
          return false;    
        }
      });

    });



  </script>

{% endblock javascripts %}